html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
  }
  
  table {
    border-collapse: collapse;
    border: 1px solid #dbdbdb;
    font-size: 0.875rem;
  }
  
  .column-header {
    background-color: #f0f0f0;
    border-bottom: 2px solid rgb(200, 200, 200);
    font-weight: bold;
  }

  .row-header {
    font-weight: bold;
  }
  
  td, th, tr {
    border: 1px solid #dbdbdb;
    padding: 10px 20px;
    text-align: left;
    overflow-wrap: break-word;
  }

  
  
  caption {
    padding: 10px;
  }
  